
:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primery-white-color: #fff;
    --fon-color:#2F303A;
}

 
  body {
    color: var(--primery-text-color);
    background-color: var(--primery-white-color);
    font-style: normal;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
   
}
 /*шапка */
header {
display: block;
}

a{
text-decoration:none;
}
.logo{
color:#212121;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
}

 .accent{
 color:#2196F3;
 }

 .site-nav .link {
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color:var(--title-text-color);
}

.link{
color: aqua;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
color: #565e6a;

}
.site-nav .link:hover,
.site-nav .link:focus{
color: var(--accent-color);  
}

.site-nav .corent{
color: var(--accent-color);
}

li {
list-style-type: none;
  /* Убираем маркеры */
}
.adres-link{ 
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: #757575;
}

.adres-link:hover,
.adres-link:focus{
color: var(--accent-color);
}

/* hero */

.hero{
background: #2F303A;
}

.hero-text{
font-family: 'Roboto';
font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primery-white-color);
}

.button-hero{
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.9;
font-family: inherit;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--primery-white-color);
background: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}

/* особиности  */
.features{
color: #212121;
}
.titel-features{
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;

color:var(--title-text-color);

}

.list-feat{
font-family: 'Roboto';
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--primery-text-color);
}

/* про нас */
.about-title {
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}

/* team */
.team-titel{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}

.team-name{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--title-text-color);
}

.team-position{
font-family: 'Roboto';
font-style: normal;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--primery-text-color);
}
/* foter */
.footer{
background: var(--fon-color);
}
.logo-footer{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
/* identical to box height */

letter-spacing: 0.03em;

color:var(--accent-color);
}

.accent-footer{
color: var(--primery-white-color);
}

.footer-adres{
font-family: 'Roboto';
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
font-style:normal;
color:var(--primery-white-color);
}

.footer-adres:hover,.footer-adres:focus{
color: var(--accent-color);
}

.footer-contact{
font-family: 'Roboto';
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
font-style:normal;

color: rgba(255, 255, 255, 0.6);
}
.footer-contact:hover,.footer-contact:focus{
color:var(--accent-color);
}

/* portfolio  */

.button{
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
color:var(--title-text-color);
background: #F5F4FA;
border-radius: 4px;
border:none;
font-family: inherit;
}

.button:hover,.button:focus{
background: var(--accent-color);
color: var(--primery-white-color);
}

.subtitle{
font-family: 'Roboto';
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-text-color);
}

.desc{
font-family: 'Roboto';
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
color: var(--primery-text-color);

}